<!DOCTYPE html>

<html>
    {% include "header.html" %}
    {% include "messages.html" %}
    <body>
        <section class="index-text">

            <img alt="logo" class="banana-duck" src="{{ url_for('static', filename='img/banana_duck_oval.jpg') }}"/>
            Paczki. Jakie są, każdy widział. Każdy na ich temat ma własne zdanie. Moim zdaniem ich nazwa brzmi podobnie
            do
            słowa "kaczka".
            Jeżeli myślisz podobnie jak ja, zapraszam serdecznie do założenia koca na głowę oraz konta na tejże stronie!
            Poza tym jest tu system do obsługi paczek (in spe) i takie tam, to nieważne. UWAGA! BANAN WYGLĄDAJĄCY JAK
            KACZKA!
            <h4>Z duńskiej wikipedii na temat kaczek:</h4>
            Ænder (Anatinae), også kaldet ægte ænder, er en underfamilie af andefugle, der omfatter mere end hundrede
            arter
            udbredt over hele verden. Blandt det, der adskiller ænderne fra de øvrige andefugle er, at fjerdragten
            oftest er
            forskellig mellem de to køn, med hannerne som de mest farvestrålende. Mange arter lever af vegetabilsk føde
            ved
            fx at snadre i vandskorpen, og kaldes svømmeænder. Andre arter lever fortrinsvis af animalsk føde som de
            finder
            ved at dykke ned under vandoverfladen, og kaldes dykænder. Mange ænder har på vingerne et iøjnefaldende felt
            med
            fjer i afvigende farver (hos svømmeænder ofte med changerende metalfarver) kaldet vingespejl.

            Hunnerne er som regel alene om at ruge og senere føre ungerne, kaldet ællinger. En hanand kaldes en andrik.
            De
            ægte ænder bliver som regel allerede kønsmodne et år gamle og parrene dannes kun for en sæson ad gangen
            (seriel
            monogami[1]). Der ses hvert år karakteristiske parringsspil i forbindelse med pardannelsen, hvori mange
            hanner
            kan deltage. Som endnu en forskel i forhold til de øvrige andefugle fældes kropsfjerene to gange årligt og
            der
            findes om sommeren en eclipsedragt. Gravænder udgør en undtagelse fra de fleste andre ænder ved at de i
            højere
            grad lever på landjorden og ved at kønnene ligner hinanden og ofte danner par for livet.

            Andens fødder er flade og tæerne adspredt med svømmehud imellem. De er derfor velegnede til at bevæge sig
            fremad
            i vandet med. Det foregår ved, at anden skiftevis bevæger benene frem og tilbage, og på den måde skubbes
            fremad.
            Ænder kan ikke svømme baglæns.
            <h4>Z indonezyjskiej wikipedii na temat paczek:</h4>
            Parsel adalah sebuah paket yang disertai dengan nama dan alamat penerima, sehingga dapat dikirim melalui pos
            atau jasa pengiriman paket ekspres.

            Ukuran parsel dapat bervariasi, mulai dari ukuran sebuah surat standar hingga ukuran kotak besar, atau
            bahkan
            ukuran berapapun, asal masih dapat diangkut dengan gerobak tangan. Kini, parsel kerap diberi kode
            batang sehingga dapat dilacak keberadaannya hingga sampai ke penerima. Kode batang adalah sebuah kode atau
            nomor identitas unik yang diberikan pada suatu parsel sebelum dikirim ke penerima. Sebuah kode batang dapat
            menjadi patokan keberadaan parsel, karena dapat dipindai oleh petugas pengiriman saat tiba di titik-titik
            tertentu, untuk dilaporkan keberadaannya ke sistem yang dapat diakses oleh pengirim maupun penerima.
            <h2>JAK MOŻNA WYWNIOSKOWAĆ Z POWYŻSZYCH ARTYKUŁÓW, POMIMO ZASKAKUJĄCEJ ZBIEŻNOŚCI NAZW "KACZKA" ORAZ
                "PACZKA" SĄ
                TO ZUPEŁNIE INNE RZECZY. PRZYPOMINAM, ŻE TA STRONA ZAJMUJE SIĘ "PACZKAMI", A NIE "KACZKAMI".</h2>

        </section>
    </body>
    {% include "footer.html" %}
</html>
