<meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="Pragma">
<meta content="0" http-equiv="Expires">
<head>
    <meta content="Bazyli Reps" name="author">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Paczki Kaczki Taczki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<header class="main-header">
    <section class="logo-section">
        <img class="logo" src="{{ url_for('static', filename='img/logo_kaczka.png') }}" alt="logo" />
    </section>
    <H1>STRONA DO OBSŁUGI PACZEK</H1>
    <h4>Bazyli Reps</h4>
    <nav>
        <ul class="horizontal-list">
            <li><a class="pagelink-button" href="/">Strona Domowa</a></li>
            <li><a class="pagelink-button" href="/sender/sign-up">Zarejestruj się</a></li>
        </ul>
    </nav>
</header>
