<!DOCTYPE html>
<html lang="en">
    <script defer src="/static/sign_up.js"></script>
    {% include "header.html" %}
    <body>
        <form action="https://infinite-hamlet-29399.herokuapp.com/sender/register" class="signup-form"
              enctype="multipart/form-data" id="signUpForm" method="post">
            <h1>Wypełnij formularz</h1>
            <ul class="login-list">
                <li id="loginRow"><input id="login" name="login" placeholder="Login" required type="text"></li>
                <li id="firstnameRow"><input id="firstname" name="firstname" placeholder="Imię" required type="text">
                </li>
                <li id="lastnameRow"><input id="lastname" name="lastname" placeholder="Nazwisko" required type="text">
                </li>
                <li id="sexRow">
                        <legend>Płeć</legend>
                        <input id="sexInputM" name="sex" required type="radio" value="M"><label for="SexInputM">Mężczyzna</label>
                        <input id="sexInputF" name="sex" required type="radio" value="F"><label
                            for="SexInputM">Kobieta</label>
                </li>
                <li><input class="pagelink-button" id="photo" name="photo" type="file"><label for="photo">Wybierz
                    zdjęcie</label></li>
                <li id="passwordRow"><input id="password" name="password" placeholder="Hasło" required type="password">
                </li>
                <li id="confirmPasswordRow"><input id="confirmPassword" placeholder="Powtórz Hasło" required
                                                   type="password"></li>
                <li><input class="pagelink-button" id="submitButton" type="submit" value="Zarejestruj"></li>
            </ul>
        </form>
    </body>
    {% include "footer.html" %}
</html>