<!DOCTYPE html>
<html lang="en">
    <script defer src="/static/sign_up.js"></script>
    {% include "header.html" %}
    <body>
        <form action="https://infinite-hamlet-29399.herokuapp.com/sender/register" class="signup-form"
              enctype="multipart/form-data" id="signUpForm" method="post">
            <h1>Wypełnij formularz</h1>
            <ul class="signup-list">
                <li><input id="login" name="login" placeholder="Login" required type="text"></li>
                <li><input id="firstname" name="firstname" placeholder="Imię" required type="text"></li>
                <li><input id="lastname" name="lastname" placeholder="Nazwisko" required type="text"></li>
                <li>
                    <legend>Płeć</legend>
                    <input id="sexInputM" name="sex" required type="radio" value="M">
                    <label for="SexInputM">Mężczyzna</label>
                    <input id="sexInputF" name="sex" required type="radio" value="F">
                    <label for="SexInputM">Kobieta</label>
                </li>
                <li>
                    <input class="custom-button" id="photo" name="photo" type="file">
                    <label for="photo">Wybierz zdjęcie</label>
                </li>
                <li><input id="password" name="password" placeholder="Hasło" required type="password"></li>
                <li><input id="confirmPassword" placeholder="Powtórz Hasło" required type="password"></li>
                <li><input class="custom-button" id="submitButton" type="submit" value="Zarejestruj"></li>
            </ul>
        </form>
    </body>
    {% include "footer.html" %}
</html>